<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ t.translate('edit_company') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{ t.translate('company_name') }}</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ t.translate('company_phone') }}</ion-label>
      <ion-input [(ngModel)]="phone" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ t.translate('tax_id') }}</ion-label>
      <ion-input [(ngModel)]="nif" type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-footer class="ion-padding">
    <ion-button expand="block" (click)="save()" [disabled]="!name || loading">{{ t.translate('save') }}</ion-button>
  </ion-footer>

</ion-content>
