@import "@ionic/angular/css/core.css";
@import "./theme/variables.scss";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
	--ion-background-color: var(--app-bg-light);
	--ion-background: var(--app-bg-light);
	--ion-text-color: var(--app-text-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--ion-background-color: var(--app-bg-dark);
		--ion-background: var(--app-bg-dark);
		--ion-text-color: var(--app-text-color);
	}
}

ion-app, html, body {
	background: var(--ion-background-color) !important;
	color: var(--ion-text-color);
}

body, ion-app, ion-content, .ion-page {
	color: var(--ion-text-color) !important;
}
